/* CSS Document */

html, input, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#5b5b5b;
}
body {
	background:url(../../labassets/images/body-bg.gif) top center repeat;
	text-align:center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 3px;
}

/* Lab starts here */

/* Configure first line of page */

header#topheader {
	background:url(../../labassets/images/header-bg.gif) 0 0 repeat-x;
	margin:0 auto;
	text-align:left;
}

#homelink, nav {
	width: 915px;
	margin: auto;
}
#homelink time {
	float: right;
}


/* Lab 3 : Step 8 : Logo and Navigation */

nav {
	height:40px;
	font-size:26px;
	line-height:1.2em;
	color:#fff;
	margin-bottom: 20px;
	width: 915px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

nav ul {
	display: block;
	text-align: right;
	list-style:none;
}
nav ul li {
	display: inline;
	font-size:12px;
}

nav li a {
	color:#fff; 
	cursor:pointer; 
	font-size:12px;	
	text-decoration: none;
	padding: 5px;
}

nav li a:hover {
	background: #f2f6f8; 
	background: -moz-linear-gradient(top, #f2f6f8 0%, #e0eff9 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(100%,#e0eff9)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); 	
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: black;
}

nav h1 a {
	display:block;
	height:40px;
	width:284px;
	text-indent:-5000px;
	background:url(../../labassets/images/logo.png) left top no-repeat;
	float: left;
}


/* Display the large banner */

 #largebanner {
	background-image:url(../../labassets/images/header.jpg);
	background-repeat: no-repeat;
	background-position: 10px; 5px;
	background-color: white;
	width: 895px;
	height: 333px;
	padding: 10px;
	margin: auto;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
}



/* banner text */
header strong {
	color:#00A6FF;
	display:block;
	font-size:104px;
	letter-spacing:-2px;
	line-height:1.2em;
	margin:0 0 -5px -4px;
	padding:74px 0 0;
	position:relative;	
	margin-left: 30px;
}

header em {
	font-size: 22px;	
	color: white;
	line-height: 28px;
	margin-left: 35px;
	display: block;
}



/* Challenge exercise */

#content {
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	width: 913px;
	
	margin: auto;
	text-align: left;
	border-top: 5px solid white;
	border: 1px solid white;

}

section {
   margin: 15px;
   width: 60%;
   display: block;
}

aside {
  float: right;
  width: 30%;	
  background-color: #F5F5F5;
  margin: 13px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  disply: block;
}

aside h2 {
	font-size: 18px;
	padding: 2px 0px 17px 4px;
	line-height: 1.2em;
	text-transform: uppercase;	
	margin-left: 17px;
}

aside div {
	margin: 17px;	
	border-bottom: 1px dotted black;
}

aside div p:first-of-type {
	color: #00BBDE;	
}

aside div:last-of-type {
	border-bottom: none;	
}

figure {
 display: block;
 height: 170px;
}

figure img {
	float: left;	
	margin-right: 10px;
}

section a {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius: 10px;
	background-color: lightblue;
	text-decoration:none;
	color: white;
	margin-top: 10px;
		
}

footer {
	width: 915px;
	margin: auto;
	text-align: left;	
	padding-top: 10px;
	display: block;
}

#social {
	float: right;
	width: 300px;
	text-align:right;	
}

footer a:link {
	color: white;
	text-decoration: none;
	
}