/* Render HTML 5 elements as block */  

/* WALKTHROUUGH 3-3: STEP 4 */


@font-face {
  font-family: YummyApology;
  src: url(../../fonts/YummyApology.ttf);
}


/* WALKTHROUGH 3-3: STEP 5 */


h1,h2,h3,h4 {
  font-family: YummyApology;
  color: #000033;
}



/* WALKTHROUGH 3-3: STEP 7 */

header, footer, aside, nav, article {
 display: block;
}

body {
	background-color: #000000;
}

#wrapper {
	width: 320px;
	text-align: left;
	margin: auto;
}

/* compress header */
 header {
 	background-image: url(../../images/header.jpg);
	background-position: top left;
	height: 60px;
	width: 310px;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-moz-background-size: 100%;
  }

nav {
	background-color: #f7eed7;
	width: 310px;
	height: 25px;
	text-align: center;
	border-bottom: 1px solid black;
}

#mainlayout { background-color: #f7eed7;}

#leftnav p {
	display: inline;	
}

#bottomgraphic {
	background-image: url(../../images/body_main_footer.gif);
	width: 320px;
	height: 25px;
	background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-moz-background-size: 100%;
}

nav a:link, nav a:visited, nav a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-indent: 0px;
	display:inline-block;
	margin-left: 3px; margin-right: 3px;
}

nav a:link {color: #000033;}
nav a:visited {	color: #660066; }
nav a:hover { color: #000033; }



#maintext {
	background-color: #f7eed7;
	width: 320px;
	padding: 0px;
}

#footer p {
 color: white;	
 font-family: arial;
 font-size: 10px;
}


 #romantic {
    display: inline;
    float: right;
    margin-left: 2px;
	margin-right: 2px;
  }
  
  #romantic img {
     -webkit-box-shadow: 8px 8px 20px #000;
     box-shadow: 8px 8px 20px #000;
     -moz-box-shadow: 8px 8px 20px #000;
     -webkit-border-radius: 20px;
	width: 129px;
	height: 150px;
  }

 figcaption {
	 display: none;
 }


#ad {
 display: none;	
}

/* Other Misccelaney */
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.95em;
	line-height: 20px;
}

h1 { font-size: 0.8em; }
h2 { font-size: 0.7em; }
h3 { font-size: 0.6em;}
h4 { font-size: 0.5em; }

.boldit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .95em;
	font-weight: bold;
	color: #990000;
	letter-spacing: .1em;
}
strong em {
	color: #336666;
	font-size: .9em;
}
a:link {
	color: #006666;
}
a:visited {
	color: #ff6633;
}


td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	padding: 3px;
}
dt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	font-weight: bold;
	color: #6B1101;
}


